.App {
  text-align: center;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* noticeboard */
.notice-board {
  width: 421px;
  background: #f2f2f2;
  border-radius: 25px;
  text-align: left;
  padding: 24px 34px;
}
.notice-board a {
  color: #116530;
}
.board-item-container a {
  margin-left: 350px;
  color: #6c6b6b;
}
.board-item-container h3 {
  color: #6c6b6b;
}
.board-item-container {
  height: auto;
  border-bottom: 1px solid #e7d9d9;
}
.board-item-container p {
  color: black;
}
